<head>
	<title>Minu koduleht!</title>
	<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
	<h1>Suur pealkiri</h1>
	<h2>Väiksem pealkiri</h2>
	<h3 class="kastiga" >Väike pealkiri</h3>
	<h4>Kõige väikesem</h4>
	<p>Paragraaf. Tavaline tekst. ul - unordered list, ol - ordered list</p>
	<ul>
		<li class="kastiga">Esimene</li>
		<li>Teine</li>
		<li>Kolmas</li>
	</ul> <!-- unordered list -->
	<!-- ol - ordered list -->
	<ol> 
		<li>Esimene</li>
		<li>Teine</li>
		<li>Kolmas</li>
	</ol>
	<form>
		<input id="nimi" placeholder="Mis on sinu nimi?"/>
		<input type="checkbox">
		<input class="kastiga" type="range">
		<input type="submit">
		<input type="date"/>


	</form>
	<p id="tere"></p>
	<img width="150" height="100" src="https://www.google.ee/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"/>

	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>

<script src="script.js"></script>
</body>
