body {
	/* kommentaar */
	background-color: silver;S
;
	font-family: Arial
	font-size: 30px;
	color: black;
	font-style: italic;
}

form {
	border: 5px solid black;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
	box-decoration-break: slice;
}

form input {
	display: block;
}

.kastiga 
	border: 2px solid green;
}