
<!--
1. Määra lehele <title>
	2. tekita body koos mingi tekstiga
	-->

	<head>
		<title> Nele chatroom</title>
	</head>
	<body>
		<h1>Tere tulemast Nele chatroomi</h1>
		<h2>Palun vali endale kasutajanimi</h2>
		<div id="jutt">Tere tulemast</div>
		<form>

            <select id="valikud">
            <option value="general">General</option>
            <option value="eriline">Eriline</option>
        </select>



            <input id="pic" value="Sisesta pildi URL" placeholder="Sisesta pildi URL">
			<input id="username" value="Nele" placeholder="Kasutaja"/>
			<input id="message" value="Minu esimene sonum :)" placeholder="sonum"/>
			<input type="submit">
		</form>
		<script src="script.js"></script>
		
	</body>