body {
  background-color: powderblue;
}
h1 {
  color: green;
}
p {
  color: red;
  span {
    margin: 0 10000px;
}

span:first-of-type {
    margin-left: 1000px;
}

span:last-of-type {
    margin-right: 1000px;
}